.spinner-container {
  display: inline-flex;
  align-items: center;
  background-color: var(--grey);
  padding: 2px; /* Add some padding for better appearance */
  border-radius: 4px; /* Optional: Add border radius for rounded corners */
}

.spinner-input {
  text-align: center;
  width: 40px; /* Adjust width to fit the data */
  background: transparent;
  border: none;
  color: #a0aec0;
  font-size: 14px; /* Adjust font size to fit the box */
  outline: none;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.arrows-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px; /* Adjust spacing as needed */
}

.arrow {
  cursor: pointer;
  font-size: 14px; /* Adjust font size to fit the box */
  width: 100%;
  border: none;
  background: transparent;
  color: #a0aec0;
  outline: none;
  transition: color 0.2s;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}
