/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 660px;
  min-height: 530px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #1e1e2d;
  border-radius: 8px;
  padding: 30px;
  width: 600px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

/* Profile Picture Section */
.profile-picture {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-imge {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.instructions h4 {
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 0px;
}
.instructions p {
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 0px;
}
.upload-buttons {
  display: flex;
  flex-direction: row; /* Column layout */
  gap: 10px;
}

.upload-btn,
.remove-btn {
  background-color: #6b5eff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  width: 100px;
  height: 40px;
}

.Buttons-edit {
  display: flex;
  flex-direction: row; /* Column layout */
  gap: 10px;
}
.remove-btn {
  background-color: #e53e3e;
}

.upload-btn:hover,
.remove-btn:hover {
  opacity: 0.8;
}

/* Form Row */
.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

input,
textarea,
select {
  background-color: #2b2b3b;
  border: 1px solid #35354d;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #6b5eff;
  box-shadow: 0 0 4px rgba(107, 94, 255, 0.6);
}

textarea {
  resize: none;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.cancel-btn,
.save-btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.cancel-btn {
  background-color: #32324c;
  color: #fff;
}

.cancel-btn:hover {
  background-color: #28283c;
}

.save-btn {
  background-color: #6b5eff;
  color: #fff;
}

.save-btn:hover {
  background-color: #5a4eda;
}
.close-button {
  position: absolute;
  top: 42px;
  right: 30px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.close-button:hover {
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}
