.statistic-container {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.statistic-card {
  display: flex;
  width: 98%;
  justify-content: space-between;
  /* margin: 2% 0; */
  padding: 3% 0;
  transition: all 0.3s ease;
}

.statistic-card > .card {
  background: var(--purple);
  width: 12%;
  display: flex;
  padding: 2% 3%;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}
.statistic-card > div:nth-child(2) {
  background: var(--red);
}
.statistic-card > div:nth-child(3) {
  background: var(--yellow);
}
.statistic-card > div:nth-child(4) {
  background: var(--blue);
}
.statistic-card > div:nth-child(5) {
  background: var(--green);
}
.card-txt {
  margin: 0 12%;
}
.card-logo {
  padding: 9%;
  border-radius: 50%;
  background: #62626217;
}
.statistic-card > .card:hover {
  transform: scale(1.1);
}
