.overview-cards {
  margin: 3% 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.overview-cards > .card {
  background: var(--purple);
  width: 15%;
  display: flex;
  padding: 2% 3%;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}
.overview-cards > div:nth-child(2) {
  background: var(--red);
}
.overview-cards > div:nth-child(3) {
  background: var(--yellow);
}
.overview-cards > div:nth-child(4) {
  background: var(--blue);
}
.card-txt {
  margin: 0 12%;
}
.card-logo {
  padding: 9%;
  border-radius: 50%;
  background: #62626217;
}
.overview-cards > .card:hover {
  transform: scale(1.1);
}

.overview-app {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}
.reschedule,
.today-appointments {
  width: 30%;
}
.reschedule-txt,
.today-appointments > h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.reschedule-txt > a {
  color: var(--blue);
  cursor: pointer;
}
.reschedule-list,
.today-list {
  background: var(--sec-dark);
  border-radius: 15px;
  padding: 3% 1%;
}
.list-img img,
.today-img img {
  width: 100%;
  border: 50%;
}
.list-img,
.today-img {
  width: 10%;
}
.reschedule-list ul,
.today-list ul {
  margin-bottom: 2%;
}

.reschedule-list li,
.today-list li {
  display: flex;
  padding: 1%;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 15px;
  outline: transparent;
  cursor: pointer;
}
.list-txt,
.today-txt {
  margin-left: 4%;
  width: 64%;
}

.reschedule-list li:hover,
.today-list li:hover {
  outline: 1px var(--purple) solid;
}
.patients-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1%;
}
.patients-txt > a {
  color: var(--blue);
  text-decoration: none;
}
