.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  body {
    background-color: rgba(0, 0, 0, 0.87);
    color: #f9f9f9;
    padding: 20px;
  }
  
  .entries-container {
    display: flex;
    align-items: center;
  }
  
  .entries-container h4 {
    margin: 0 5px;
  }
  
  .filter-container {
    margin-left: auto; /* Push the filter container to the far right */
  }
  
  table {
    width: 100%;
    border-collapse: separate; /* Use separate border model to allow spacing */
    border-spacing: 0 8.5px; /* Add gap between rows */
    margin-top: 20px;
  }
  
  th, td {
    border: none; /* Remove the border between rows and columns */
    padding: 8px;
    text-align: center; /* Center align all table data */
  }
  
  th {
    background-color: #333; /* Set the background color of the heading row */
    color: #f9f9f9; /* Ensure the text color is readable */
    height: 30px;
  }
  
  tr {
    background-color: #555; /* Set the background color of all rows */
  }
  
  tr:first-child td:first-child {
    border-top-left-radius: 4px; /* Round top-left corner */
  }
  
  tr:first-child td:last-child {
    border-top-right-radius: 4px; /* Round top-right corner */
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px; /* Round bottom-left corner */
  }
  
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px; /* Round bottom-right corner */
  }
  
  td:first-child {
    border-top-left-radius: 4px; /* Round top-left corner */
    border-bottom-left-radius: 4px; /* Round bottom-left corner */
  }
  
  td:last-child {
    border-top-right-radius: 4px; /* Round top-right corner */
    border-bottom-right-radius: 4px; /* Round bottom-right corner */
  }
  
  td.patient-name {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    text-align: left; /* Left align patient names in the data rows */
    margin-left: 15px;
  }
  
  .patient-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .action-button {
    background: none;
    border: none;
    color: #a0aec0;
    font-size: 20px;
    cursor: pointer;
  }
  
  .action-button:hover {
    color: #63b3ed; /* Lighter blue on hover */
  }
  
  .pagination-container {
    display: flex;
    justify-content: flex-end; /* Align pagination controls to the right */
    margin-top: 12px;
  }
  
  .pagination {
    display: flex;
  }
  
  .pagination button {
    background: none;
    border: none; /* Make border invisible */
    color: #a0aec0;
    padding: 5px 5px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px; /* Make numbers smaller */
  }
  
  .pagination button.active {
    color: #646cff; /* Change number color when selected */
  }
  
  .pagination button:hover {
    color: #646cff;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pagination button.arrow {
    font-size: 20px; /* Adjust font size to make arrows smaller */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    border-radius: 4px; /* Add rounded corners */
    padding: 2px 8px; /* Adjust padding to make the height smaller */
  }