.app {
  width: 99vw;
  /* height: 100%; */
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 7% 90%;
  grid-template-areas:
    "s n"
    "s d";
}
.sidebar-content {
  grid-area: s;
  height: 103%;
  min-height: 98vh;
  /* position: fixed;
  top: 0;
  left: 0; */
  background: var(--sec-dark);
  transition: 0.3s ease;
  padding: 0.4rem 0.8rem;
}
.navbar-content {
  grid-area: n;
  /* height: 10%;  */
  /* position: fixed;
  top: 0;
  left: 13.5%; */
  transition: 0.3s ease;
  padding: 0.4rem 0.8rem;
}
.data {
  grid-area: d;
  padding: 0.4rem 2.8rem;
  margin-bottom: 12%;
}
.loading1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--light-grey);
}
